.pane {
    -fx-background-color: #343642;
}
.btn
{
    -fx-background-color:  #35889a;
    -fx-cursor: hand;
}

.btn:hover
{
    -fx-background-color: #4aabc0;
    -fx-cursor: hand;
}
.field {
    -fx-text-fill: #fff;
    
}
.back{
    
    -fx-background-color: #343642;
    -fx-cursor: hand;
}
.back:hover{
    
    -fx-background-color: #343642;
    -fx-cursor: hand;
}