.jfx-button
{
    -fx-background-color: #35889a;
    -fx-text-fill: #FFF;
    -fx-cursor: hand;
}

.jfx-button:hover
{
    -fx-background-color: #4aabc0;
    -fx-cursor: hand;
}

.vbox
{
    -fx-background-color: #989c9d;
}

.vboxsale
{
    -fx-background-color: #fff;
}
.quntityComboBox{
    -fx-background-color: #fff;
}

.pane
{
    -fx-background-color: #343642;
}
